<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/index.min.css" />
    <link rel="stylesheet" href="/css/nav.min.css">
    <% if(module === 'home' ) { %>
      <link rel="stylesheet" href="/css/home.min.css">
    <% } %>
    <% if(module === 'wiki' ) { %>
      <link rel="stylesheet" href="/css/wiki.min.css">
    <% } %>
    <title>Document</title>
  </head>

  <body>
    <%- include('./nav', menuList) %>
    <% if(module === 'home' ) { %>
      <%- include('./home', articleList) %>
    <% } %>
    <% if(module === 'wiki' ) { %>
      <%- include('./wiki') %>
    <% } %>
  </body>
</html>
