<div class="memo">
  <% memoList.forEach(item => { %>
    <div class="memo-item">
      <p class="content"><%= item.content %></p>
      <p class="time"><i class="iconfont icon-clock"></i><%= item.updateTime %></p>
    </div>
  <% }) %>
</div>
