@use './common/init' as *;
@use './common/function' as *;

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: getCssVar('color-white');
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1080px;
  nav {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: getCssVar('border-width') getCssVar('border-style')
      getCssVar('border-color', 'black');
    .nav-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      box-sizing: border-box;
      height: 100%;
    }
    .menu {
      display: flex;
      align-items: center;
      height: 100%;
      li {
        padding: 10px 20px;
        a {
          color: getCssVar('text-color', 'black');
        }
        &:hover {
          background-color: getCssVar('bg-color', 'black');
          a {
            color: getCssVar('text-color', 'white');
          }
        }
      }
    }
  }
  .container {
    display: grid;
    width: 100%;
    height: calc(100vh - 60px);
    grid-template-columns: repeat(auto-fit, minmax(360px, 360px));
    grid-template-rows: repeat(auto-fit, 200px);
    justify-content: space-evenly;
    gap: 20px;
    padding: 40px;
    box-sizing: border-box;
    .article-item {
      display: flex;
      overflow: hidden;
      border-radius: getCssVar('border-radius', 'base');
      box-shadow: getCssVar('box-shadow');
      color: getCssVar('text-color', 'black');
      box-sizing: border-box;
      padding: 16px;
      &:hover {
        box-shadow: getCssVar('box-shadow', 'dark');
      }
      img {
        flex: 0 0 120px;
        margin-right: 20px;
        height: 100%;
      }
      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .desc {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-indent: 2em;
      }
      .time {
        font-size: getCssVar('font-size', 'small');
        color: getCssVar('text-color', 'secondary');
        text-align: right;
      }
    }
  }
}
